{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'clients/css/global.css' %}"  />
    <link rel="stylesheet" href="{% static 'clients/css/add_subtitles.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Google Sans:wght@500&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
  </head>
  <body>
    <div class="add-subtitles1">
      <div class="nav1">
        <div class="edit-video1">Edit video</div>
        <div class="tool1">Tool</div>
        <div class="resources1">Resources</div>
        <img class="nav-inner" alt="" src="{% static 'clients/images/vector-114@2x.png' %}" />

        <div class="nav-child1"></div>
        <div class="sign-in1">Sign in</div>
      </div>
      <div class="hero">
        <img class="decore-icon" alt="" src="{% static 'clients/images/decore@2x.png' %}" />

        <div class="top-nav">
          <img class="logo-icon" alt="" src="{% static 'clients/images/logo@2x.png' %}" />

          <div class="nav-item1">Bookings</div>
          <div class="nav-item2">Flights</div>
          <div class="nav-item3">Hotels</div>
          <div class="nav-item4">Desitnations</div>
          <div class="nav-item5">Login</div>
          <div class="button">
            <div class="sign-up">Sign up</div>
            <div class="button-child"></div>
          </div>
          <div class="dropdown">
            <div class="en">EN</div>
            <img class="dropdown-child" alt="" src="{% static 'clients/images/vector-1@2x.png' %}" />
          </div>
        </div>
        <div class="hero-content">
          <div class="desc">
            <div class="desc1">
              Subtitle a video manually or with an SRT file
            </div>
            <b class="heading">Add subtitles</b>
          </div>
          <img class="image-icon" alt="" src="{% static 'clients/images/image@2x.png' %}" />
        </div>
      </div>
      <div class="image-48-parent">
        <img class="image-48-icon" alt="" src="{% static 'clients/images/image-48@2x.png' %}" />

        <div class="cta">
          <div class="cta1">
            <div class="cta-child"></div>
          </div>
        </div>
        <div class="choose-file">Choose file</div>
        <img class="add-1-icon" alt="" src="{% static 'clients/images/add-1@2x.png' %}" />

        <div class="started">Started</div>
      </div>
      <div class="card-parent">
        <div class="card">
          <div class="base"></div>
          <img class="image-icon1" alt="" src="{% static 'clients/images/image1@2x.png' %}" />

          <div class="edit-subtitle-font">Edit Subtitle Font</div>
          <img
            class="card-child"
            alt=""
            src="{% static 'clients/images/frame-427319047@2x.png' %}"
          />

          <div class="we-dont-limit">
            We don't limit you! Select a font, its size, align the text. Also,
            choose its color and background to make the subs look brighter and
            seen on both black and white.
          </div>
        </div>
        <div class="card1">
          <div class="base"></div>
          <img class="image-icon1" alt="" src="{% static 'clients/images/image1@2x.png' %}" />

          <div class="edit-subtitle-font">
            <p class="online-subtitle-adder">Online Subtitle Adder</p>
          </div>
          <div class="the-tool-is-container">
            <p class="online-subtitle-adder">
              The tool is completely online which means that you don't need to
              download any software or app to your device. It's both faster and
              secure!
            </p>
          </div>
          <img class="card-item" alt="" src="{% static 'clients/images/frame-427319047@2x.png' %}" />
        </div>
        <div class="card2">
          <div class="base"></div>
          <img class="image-icon1" alt="" src="{% static 'clients/images/image1@2x.png' %}" />

          <div class="works-on-any-container">
            <p class="online-subtitle-adder">Works on Any Device</p>
          </div>
          <img
            class="card-inner"
            alt=""
            src="{% static 'clients/images/frame-427319047@2x.png' %}"
          />

          <div class="our-website-will-container">
            <p class="online-subtitle-adder">
              Our website will work on Mac and Windows, iPhone and Android, no
              matter what browser you're using.
            </p>
          </div>
          <div class="material-symbolsarrow-right-a"></div>
        </div>
      </div>
      <div class="how-to-add-subtitles-to-a-vide-parent">
        <b class="how-to-add-container">
          <p class="online-subtitle-adder">How to add subtitles to a video</p>
        </b>
        <div class="k-peoples">
          <div class="step-1-upload-a-recording-or-parent">
            <div class="step-1-upload">Step 1: Upload a recording or movie</div>
            <div class="add-a-video">
              Add a video to the subtitler: from your computer, a camera roll on
              your smartphone, or from a cloud. The tool accepts 500 MB for free
            </div>
          </div>
        </div>
        <div class="k-peoples1">
          <div class="step-2-create-a-video-wrapper">
            <div class="step-1-upload">Step 2: Create a video</div>
          </div>
        </div>
        <div class="k-peoples2">
          <div class="step-2-create-a-video-wrapper">
            <div class="step-1-upload">Step 3: Save the result</div>
          </div>
        </div>
        <img class="image-47-icon" alt="" src="{% static 'clients/images/image-47@2x.png' %}" />
      </div>
      <div class="image-45-parent">
        <img class="image-45-icon" alt="" src="{% static 'clients/images/image-45@2x.png' %}" />

        <div class="search-column1">
          <div class="search-column-item"></div>
          <div class="insert-your-email">Insert your email address</div>
          <img
            class="button-search-icon1"
            alt=""
            src="{% static 'clients/images/button-search@2x.png' %}"
          />
        </div>
        <div class="have-a-too-container">
          <p class="online-subtitle-adder">
            Have a too large file for uploading to Instagram, Facebook, YouTube,
            or for sending via Email? It's not a problem anymore, with our tool
            you can easily make your video smaller without losing quality!
            interface is user-friendly so you don't need to have any special
            video editing skills to use it!
          </p>
          <p class="online-subtitle-adder">&nbsp;</p>
        </div>
        <div class="contact-us-if">
          Contact us if you are interested in working with us
        </div>
      </div>
      <div class="footer1">
        <div class="footer-item"></div>
        <div class="features-group">
          <div class="features1">Features</div>
          <div class="our-features1">Our Features</div>
          <div class="pricing1">Pricing</div>
          <div class="affiliate-program1">Affiliate Program</div>
          <div class="press-kit1">Press Kit</div>
        </div>
        <div class="support-group">
          <div class="features1">Support</div>
          <div class="account1">Account</div>
          <div class="help1">Help</div>
          <div class="contact-us1">Contact Us</div>
        </div>
        <div class="legal-group">
          <div class="legal1">Legal</div>
          <div class="privacy-policy1">Privacy Policy</div>
          <div class="terms-of-use1">Terms of Use</div>
        </div>
        <div class="social-media-group">
          <div class="social-media1">Social Media</div>
          <div class="twitter1">Twitter</div>
          <div class="product-hunt1">Product Hunt</div>
          <div class="instagram1">Instagram</div>
          <div class="github1">Github</div>
        </div>
        <div class="copyright-2023-ntanh">Copyright 2023 @ntanh</div>
      </div>
    </div>
  </body>
</html>
