{% extends "clients/base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block stylesheets %}
      {{ block.super }}
      <link rel="stylesheet" type="text/css" href="{% static 'clients/css/global.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'clients/css/all_tools.css' %}" />
    {% endblock stylesheets %}
</head>

<body>
    {% block content %}
    <div class="all-tools">
      <div class="hero">
        <div class="hero-child"></div>
        <div class="desc">
            Built Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the.
        </div>
        <b class="heading">Online Video Tools</b>
    </div>
    <div class="base-parent">
        <div class="base"></div>
        <div class="including-clubs-specializing">
            Including clubs specializing in knowledge, an environment
        </div>
        <div class="video-editor">Video Editor</div>
        <img class="video-and-audio-1-icon" alt="" src="{% static 'clients/images/videoandaudio-1@2x.png' %}" />

        <div class="make-edit-now">
            <div class="make-edit-now-child"></div>
            <div class="make-edit-now-item"></div>
            <div class="make-edit-now1"><a href="">Make Edit Now</a></div>
        </div>
    </div>
    <div class="base-group">
        <div class="base"></div>
        <div class="add-subtitles">Add subtitles</div>
        <div class="including-clubs-specializing1">
            Including clubs specializing in knowledge, an environment
        </div>
        <img class="add-text-1-icon" alt="" src="{% static 'clients/images/addtext-1@2x.png' %}" />

        <div class="make-edit-now">
            <div class="make-edit-now-child"></div>
            <div class="make-edit-now-item"></div>
            <div class="make-edit-now1"><a href="">Make Edit Now</a></div>
        </div>
    </div>
    <div class="base-container">
        <div class="base2"></div>
        <div class="including-clubs-specializing2">
            Including clubs specializing in knowledge, an environment
        </div>
        <div class="crop">Crop</div>
        <img class="crop-1-icon" alt="" src="{% static 'clients/images/crop-1@2x.png' %}" />

        <div class="make-edit-now">
            <div class="make-edit-now-child"></div>
            <div class="make-edit-now-child2"></div>
            <div class="make-edit-now1"><a href="">Make Edit Now</a></div>
        </div>
    </div>
    <div class="frame-div" id="frameContainer3">
        <div class="base3"></div>
        <div class="including-clubs-specializing3">
            Including clubs specializing in knowledge, an environment
        </div>
        <div class="cut">Cut</div>
        <img class="cutting-tool-1-icon" alt="" src="{% static 'clients/images/cuttingtool-1@2x.png' %}" />

        <div class="make-edit-now6">
            <div class="make-edit-now-child"></div>
            <div class="make-edit-now-item"></div>
            <div class="make-edit-now1"><a href="">Make Edit Now</a></div>
        </div>
    </div>
    <div class="base-parent1">
        <div class="base4"></div>
        <div class="merge">Merge</div>
        <div class="including-clubs-specializing4">
            Including clubs specializing in knowledge, an environment
        </div>
        <img class="merged-4-icon" alt="" src="{% static 'clients/images/merged-4@2x.png' %}" />

        <div class="make-edit-now8">
            <div class="make-edit-now-child"></div>
            <div class="make-edit-now-item"></div>
            <div class="make-edit-now1"><a href="">Make Edit Now</a></div>
        </div>
    </div>
    <div class="base-parent2">
        <div class="base5"></div>
        <div class="including-clubs-specializing5">
            Including clubs specializing in knowledge, an environment
        </div>
        <div class="loop">Loop</div>
        <img class="loop-1-icon" alt="" src="{% static 'clients/images/loop-1@2x.png' %}" />

        <div class="make-edit-now6">
            <div class="make-edit-now-child"></div>
            <div class="make-edit-now-item"></div>
            <div class="make-edit-now1"><a href="">Make Edit Now</a></div>
        </div>
      </div>
    </div>
    {% endblock content %}

</body>

</html>