{% extends "clients/base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block stylesheets %}
      {{ block.super }}
      <link rel="stylesheet" type="text/css" href="{% static 'clients/css/global.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'clients/css/crop_video.css' %}" />
    {% endblock stylesheets %}
</head>

<body>
    {% block content %}
    <div class="crop-video">
      <div class="gr1">
        <div class="upload-wrapper">
          <button type="submit" class="cta6">Upload</button>
        </div>
        <div class="choose-file-parent">
          <button type="submit" class="choosefile">Choose file
            <img class="add-1-icon1" alt="" src="{% static 'clients/images/add-1@2x.png' %}" />
          </button>
        </div>
        <b class="heading">Crop Video</b>
        <div class="desc">Crop any part of your video</div>
      </div>


<div class="gr2">
        <div class="card">
          <div class="base">
            <div class="fully-online">
            <p class="if-you-want">Fully Online</p>
            <img class="card-child" alt="" src="{% static 'clients/images/frame-427319047@2x.png' %}" />
            </div>
          </div>
          <div class="online-which-means"> Online which means that you don't need to download anything to your computer or phone. </div>
        </div>

        <div class="card1">
          <div class="base">
            <div class="easy-to-use-tool">Easy-to-use Tool</div>
            <img class="card-item" alt="" src="{% static 'clients/images/frame-427319049@2x.png' %}" />
          </div>
          <div class="you-can-use"> You can use the cropper even if you have never edited a video before because its interface is super simple. </div>
        </div>

        <div class="card2">
          <div class="base"></div>
          <div class="easy-to-use-tool">Fast Conversion</div>
          <img class="card-child1" alt="" src="{% static 'clients/images/frame-427319047@2x.png' %}"/>
          <div class="if-you-want-container"><p class="if-you-want"> If you want to, you can change the format of your video to any other in the same window. You don't even need any other special software! </p></div>
        </div>
      </div>

      <div class="gr3">

        <div class="how-to-crop-container"><p class="if-you-want">How to crop a video</p></div>
        <img class="image-47-icon" alt="" src="{% static 'clients/images/image-47@2x.png' %}" />
        <div class="step-2">
          <div class="step-1-upload-a-recording-or-parent">
            <div class="step-1-upload">Step 1: Upload a recording or movie</div>
            <div class="choose-or-drag">Choose or drag & drop your video from a Mac or Windows computer, Android or iPhone. If you want, you can add it from your Dropbox or Google Drive account. Clideo allows you to crop a video up to 500 MB for free. </div>
          </div>
        </div>
        <div class="step-21">
          <div class="step-1-upload">Step 2: Create a video</div>
        </div>
        <div class="step-1">
          <div class="step-1-upload">Step 3: Save the result</div>
        </div>
      </div>

      <div class="group-parent">
        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="insert-your-email">Insert your email address</div>
          <img class="button-search-icon" alt="" src="{% static 'clients/images/button-search@2x.png' %}" />
        </div>
        <div class="have-a-too-container">
          <p class="if-you-want"> Have a too large file for uploading to Instagram, Facebook, YouTube, or for sending via Email? It's not a problem anymore, with our tool you can easily make your video smaller without losing quality! </p>
          <p class="if-you-want"> Clideo's interface is user-friendly so you don't need to have any special video editing skills to use it! </p>
          <p class="if-you-want">&nbsp;</p>
          <p class="if-you-want"> Contact us if you are interested in working with us </p>
        </div>
        <img class="image-45-icon" alt="" src="{% static 'clients/images/image-45@2x.png' %}" />
      </div>
    </div>

    {% endblock content %}

</body>

</html>