{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'clients/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'clients/css/crop_tools.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Google Sans:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="croptools">
      <div class="croptools-child"></div>
      <img class="croptools-item" alt="" src="{% static 'clients/images/group-100@2x.png' %}" />

      <img class="croptools-inner" alt="" src="{% static 'clients/images/rectangle-194@2x.png' %}" />

      <div class="rectangle-div"></div>
      <div class="group-parent">
        <div class="group-wrapper">
          <div class="format-wrapper">
            <div class="format">Format:</div>
          </div>
        </div>
        <div class="rectangle-wrapper">
          <div class="group-child"></div>
        </div>
      </div>
      <div class="rectangle-parent">
        <div class="group-item"></div>
        <div class="export">Export</div>
      </div>
      <div class="rectangle-group">
        <div class="group-inner"></div>
        <div class="final-output-parent">
          <div class="format">Final output:</div>
          <div class="div">00:07</div>
        </div>
      </div>
      <div class="home-wrapper" id="frameContainer">
        <div class="home">Home</div>
      </div>
      <div class="croptools-child"></div>
      <img class="croptools-item" alt="" src="{% static 'clients/images/group-100@2x.png' %}" />

      <div class="extract-size-parent">
        <div class="extract-size">Extract size</div>
        <div class="rectangle-container">
          <div class="group-child1"></div>
          <div class="px">686 px</div>
        </div>
        <div class="group-div">
          <div class="group-child2"></div>
          <div class="px1">532 px</div>
        </div>
      </div>
      <div class="rectangle-parent1">
        <div class="group-item"></div>
        <div class="preview">Preview</div>
      </div>
      <div class="croptools-child2"></div>
      <div class="group-container">
        <div class="group-wrapper">
          <div class="format-wrapper">
            <div class="format">Format:</div>
          </div>
        </div>
        <div class="rectangle-wrapper">
          <div class="group-child"></div>
        </div>
      </div>
      <div class="rectangle-parent2">
        <div class="group-item"></div>
        <div class="export">Export</div>
      </div>
      <div class="rectangle-parent3">
        <div class="group-inner"></div>
        <div class="final-output-wrapper">
          <div class="format">Final output:</div>
        </div>
      </div>
      <div class="home-wrapper" id="frameContainer1">
        <div class="home">Home</div>
      </div>
      <div class="frame-div">
        <div class="frame-child"></div>
      </div>
      <div class="croptools-inner1">
        <div class="frame-item"></div>
      </div>
    </div>

    <script>
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          // Please sync "Index" to the project
        });
      }
      
      var frameContainer1 = document.getElementById("frameContainer1");
      if (frameContainer1) {
        frameContainer1.addEventListener("click", function (e) {
          // Please sync "Index" to the project
        });
      }
      </script>
  </body>
</html>
