{% extends "clients/base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block stylesheets %}
      {{ block.super }}
      <link rel="stylesheet" type="text/css" href="{% static 'clients/css/global.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'clients/css/cut_video.css' %}" />
    {% endblock stylesheets %}
</head>

<body>
    {% block content %}
    <div class="cutp-video">
      <div class="gr1">
        <b class="heading"><p class="video-cutter-online">Video Cutter Online</p></b>
        <div class="desc">Trim the necessary part of your video</div>
{% comment %} 
        <div class="upload-wrapper">
          <button type="submit" class="cta6">Upload</button>
        </div>
        <div class="choose-file-parent">
          <button type="submit" class="choosefile">Choose file
            <img class="add-1-icon1" alt="" src="{% static 'clients/images/add-1@2x.png' %}" />
          </button>
        </div> {% endcomment %}

        <form method="post" action="{% url 'clients:cut_video' %}" enctype="multipart/form-data" class="c_file">
          {% csrf_token %}
          Choose file: <input class="c_file" type="file" name="video_file" id="video_file">
          <button type="submit" class="cta6">Submit</button>
       </form>

        
      </div>

      <div class="gr2">
        <div class="card">
          <div class="base"></div>
          <div class="fast-video-cutting-container"><p class="video-cutter-online">Fast Video Cutting</p> </div>
          <img class="card-child" alt="" src="{% static 'clients/images/frame-427319047@2x.png' %}"/>
          <div class="the-tool-allows"> The tool allows you to move the two markers to select the beginning and ending of your clip. It takes just a few seconds! </div>
        </div>

        <div class="card1">
          <div class="base"></div>
          <div class="completely-online">Completely Online</div>
          <div class="you-dont-need"> You don't need to download or install anything on your device, that is not only faster but also more secure.</div>
          <img class="card-item" alt="" src="{% static 'clients/images/frame-427319049@2x.png' %}" />
        </div>

        <div class="card2">
          <div class="base"></div>
          <div class="completely-online">Easy-to-use</div>
          <img class="card-child" alt="" src="{% static 'clients/images/frame-427319047@2x.png' %}"/>
          <div class="you-dont-need-container">
            <p class="video-cutter-online">You don't need any experience in video editing to use the online service because its interface is intuitive. </p>
          </div>
        </div>
      </div>

      <div class="gr3">
        <img class="image-47-icon" alt="" src="{% static 'clients/images/image-47@2x.png' %}" />
        <b class="how-to-cut">How to cut a video online</b>
        <div class="step-3"> <div class="step-3-save">Step 3: Save the result</div> </div>
        <div class="step-2"> <div class="step-3-save">Step 2: Create a video</div> </div>
        <div class="step-1">
          <div class="step-1-upload-a-recording-or-parent">
            <div class="step-3-save">Step 1: Upload a recording or movie</div>
            <div class="add-a-video"> Add a video to the subtitler: from your computer, a camera roll on your smartphone, or from a cloud. The tool accepts 500 MB for free </div>
          </div>
        </div>
      </div>

      <div class="contact">
        <img class="image-45-icon" alt="" src="{% static 'clients/images/image-45@2x.png' %}" />
        <div class="contact-bt">
          <div class="contact-bt-child"></div>
          <div class="insert-your-email">Insert your email address</div>
          <img class="send-icon" alt="" src="{% static 'clients/images/send@2x.png' %}" />
        </div>

        <div class="have-a-too-container">
          <p class="video-cutter-online"> Have a too large file for uploading to Instagram, Facebook, YouTube, or for sending via Email? It's not a problem anymore, with our tool you can easily make your video smaller without losing quality! </p>
          <p class="video-cutter-online"> Clideo's interface is user-friendly so you don't need to have any special video editing skills to use it! </p>
          <p class="video-cutter-online">&nbsp;</p>
          <p class="video-cutter-online"> Contact us if you are interested in working with us </p>
        </div>
      </div>
    </div>

    {% endblock content %}

</body>

</html>