{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'clients/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'clients/css/index.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" />
</head>
<body>
    <div class="index1">

    <div class="nav">
        <img class="pexels-jessica-lewis-593324-2-icon" alt="" src="{% static 'clients/images/pexelsjessicalewis593324-2@2x.png' %}" />
        <div class="edit-video">Edit video</div>
        <div class="resources">Resources</div>
        {% if user_profile %}
        <div class="dropdown1">
          <img src="{{ user_profile.image.url }}" class="dropbtn"/>
          <div class="dropdown-content">
          <a href="#">{{ user_profile.username }}</a>
          <a href="#">Log out</a>
          </div>
        </div>
        {% else %}
        <div class="sign-in-wrapper">
          <div class="sign-in">
            <a href="{% url 'users:signin'%}">Sign in</a>
          </div>
        </div>
        {% endif %}
    </div>

    <div class="slide">
        <div class="make-your-interior"> Make Your Interior More Minimaistic & Modern </div>
        <div class="all-in-one-easy-to-use-online"> All-in-one easy-to-use online video tools </div>
        <div class="search-column">
            <div class="search-column-child"></div>
            <div class="search">Search</div>
            <img class="button-search-icon" alt="" src="{% static 'clients/images/button-search@2x.png' %}" />
        </div>
    </div>

    <div class="reason">
        <div class="rectangle-parent">
            <div class="group-child"></div>
            <div class="there-is-no"> There is no need to download and install any app to your phone, tablet or computer — use the online Clideo tools instead. </div>
            <div class="completely-online"><p class="why">Completely Online</p> </div>
        </div>
        <div class="rectangle-group">
            <div class="group-item"></div>
            <div class="kapwing-is-completely"> Kapwing is completely free to start. Just upload a video and start editing. Supercharge your editing workflow with our powerful online tools. </div>
            <div class="free"> <p class="why">Free</p> </div>
        </div>
        <div class="rectangle-container">
            <div class="group-item"></div>
            <div class="kapwing-works-hard">Kapwing works hard to help make the content you want, when you want it. Get started on your project today. </div>
            <div class="powerful"><p class="why">Powerful</p> </div>
        </div>
        <div class="why-choosing-us-container">
            <p class="why">Why</p>
            <p class="why">Choosing Us</p>
        </div>
    </div>

    <div class="tool">
        <div class="online-video-tools">Online Video Tools</div>
        <div class="next">
            <div class="all-tools"><a href="{% url 'clients:all_tools'%}">All tools</a></div>
            <img class="next-child" alt="" src="{% static 'clients/images/arrow-2@2x.png' %}" />
        </div>
        <div class="tool4">
            <div class="tool4-child"></div>
            <div class="merge">Merge</div>
            <img class="merged-1-icon" alt="" src="{% static 'clients/images/merged-1@2x.png' %}" />
        </div>
        <div class="tool3">
            <div class="tool4-child"></div>
            <div class="cut">Cut</div>
            <img class="cutting-tool-1-icon" alt="" src="{% static 'clients/images/cuttingtool-1@2x.png' %}" />
        </div>
        <div class="tool2">
            <div class="tool4-child"></div>
            <div class="loop">Loop</div>
            <img class="loop-1-icon" alt="" src="{% static 'clients/images/loop-1@2x.png' %}" />
        </div>
        <div class="tool1">
            <div class="tool4-child"></div>
            <div class="crop">Crop</div>
            <img class="crop-1-icon" alt="" src="{% static 'clients/images/crop-1@2x.png' %}" />
        </div>
    </div>

    <div class="about">
        <div class="your-all-in-one-online"> Your all-in-one online video editor </div>
        <div class="make-your-own"> Make your own video from scratch, edit it and add music — all in one screen! Our seamless video editor allows you to manage the added media easily with the help of a multi-track timeline. </div>
        <img class="unsplashtqpypka92k8-icon" alt="" src="{% static 'clients/images/unsplashtqpypka92k8@2x.png' %}" />
    </div>

    <div class="footer">
        <div class="footer-child"></div>
        <div class="features-parent">
            <div class="features">Features</div>
            <div class="our-features">Our Features</div>
            <div class="pricing">Pricing</div>
            <div class="affiliate-program">Affiliate Program</div>
            <div class="press-kit">Press Kit</div>
        </div>
        <div class="support-parent">
            <div class="features">Support</div>
            <div class="account">Account</div>
            <div class="help">Help</div>
            <div class="contact-us">Contact Us</div>
        </div>
        <div class="legal-parent">
            <div class="legal">Legal</div>
            <div class="privacy-policy">Privacy Policy</div>
            <div class="terms-of-use">Terms of Use</div>
        </div>
        <div class="social-media-parent">
            <div class="social-media">Social Media</div>
            <div class="twitter">Twitter</div>
            <div class="product-hunt">Product Hunt</div>
            <div class="instagram">Instagram</div>
            <div class="github">Github</div>
        </div>
        <div class="copyright-2023-editvideo">Copyright 2023 @editvideo</div>
    </div>

    </div>
</body>
</html>

