{% extends "clients/base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block stylesheets %}
      {{ block.super }}
      <link rel="stylesheet" type="text/css" href="{% static 'clients/css/global.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'clients/css/merge_video.css' %}" />
    {% endblock stylesheets %}
</head>

<body>
    {% block content %}
    <div class="merge-video">
      <div class="gr1">
        <div class="upload-wrapper">
          <button type="submit" class="cta6">Upload</button>
        </div>
        <div class="choose-file-parent">
          <button type="submit" class="choosefile">Choose file
            <img class="add-1-icon1" alt="" src="{% static 'clients/images/add-1@2x.png' %}" />
          </button>
        </div>
        <div class="desc">Combine multiple videos, images and add audio</div>
        <b class="heading"><p class="merge-videos">Merge Videos</p> </b>
      </div>

      <div class="gr2">
        <div class="card">
          <div class="base"></div>
          <div class="easy-video-merging-container"> <p class="merge-videos">Easy Video Merging</p></div>
          <img class="card-child" alt="" src="{% static 'clients/images/frame-427319047@2x.png' %}"/>
          <div class="instantly-upload-any"> Instantly upload any number of videos or images and combine them with one click. </div>
        </div>
        <div class="card1">
          <div class="base"></div>
          <div class="secure-encryption">Secure Encryption</div>
          <div class="in-person-and-online"> In-person and online events that bring together universities,experts and more. </div>
          <img class="card-item" alt="" src="{% static 'clients/images/frame-427319049@2x.png' %}" />
        </div>
        <div class="card2">
          <div class="base"></div>
          <div class="secure-encryption">Check Preview</div>
          <img class="card-child" alt="" src="{% static 'clients/images/frame-427319047@2x.png' %}" />
          <div class="if-you-want-container"> <p class="merge-videos"> If you want to, you can change the format of your video to any other in the same window. You don't even need any other special software! </p> </div>
        </div>
      </div>

      <div class="gr3">
        <b class="how-to-use-container"> <p class="merge-videos">How to use the video merger</p></b>
        <img class="image-47-icon" alt="" src="{% static 'clients/images/image-47@2x.png' %}" />
        <div class="step-3">
          <div class="step-3-save">Step 3: Save the result</div>
        </div>
        <div class="step-2">
          <div class="step-3-save">Step 2: Create a video</div>
        </div>
        <div class="step-1">
          <div class="step-1-upload-a-recording-or-parent">
            <div class="step-3-save">Step 1: Upload a recording or movie</div>
            <div class="upload-all-the"> Upload all the pics, videos and audio you want to the editor. You can choose them from your device, Google Drive and Dropbox storage account. If you want to make a video from scratch, just proceed to the next step. </div>
          </div>
        </div>
      </div>

      <div class="contact">
        <div class="contact-bt">
          <div class="contact-bt-child"></div>
          <div class="insert-your-email">Insert your email address</div>
          <img class="send-icon" alt="" src="{% static 'clients/images/send@2x.png' %}" />
        </div>
        <div class="have-a-too-container">
          <p class="merge-videos"> Have a too large file for uploading to Instagram, Facebook, YouTube, or for sending via Email? It's not a problem anymore, with our tool you can easily make your video smaller without losing quality! </p>
          <p class="merge-videos"> Clideo's interface is user-friendly so you don't need to have any special video editing skills to use it!</p>
          <p class="merge-videos">&nbsp;</p>
          <p class="merge-videos"> Contact us if you are interested in working with us </p>
        </div>
        <img class="image-45-icon" alt="" src="{% static 'clients/images/image-45@2x.png' %}" />
      </div>
    </div>

    {% endblock content %}

</body>

</html>