.croptools-child {
    position: absolute;
    top: 534px;
    left: 0;
    background-color: var(--color-gray-200);
    width: 1280px;
    height: 66px;
}

.croptools-inner,
.croptools-item {
    position: absolute;
    top: 442px;
    left: 293px;
    width: 90px;
    height: 27px;
    object-fit: cover;
}

.croptools-inner {
    top: 0;
    left: 681px;
    width: 599px;
    height: 492px;
}

.rectangle-div {
    position: absolute;
    top: 534px;
    left: 271px;
    background-color: var(--color-gray-100);
    width: 1009px;
    height: 66px;
}

.format {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
}

.format-wrapper,
.group-child,
.group-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 47px;
    height: 18px;
}

.group-child,
.group-wrapper {
    top: 6px;
}

.group-child {
    top: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-gray-100);
    border: 0.5px solid var(--color-dimgray);
    box-sizing: border-box;
    width: 71px;
    height: 30px;
}

.group-item,
.group-parent,
.rectangle-wrapper {
    position: absolute;
    top: 0;
    left: 65px;
    width: 71px;
    height: 30px;
}

.group-item,
.group-parent {
    top: 556px;
    left: 338px;
    width: 136px;
}

.group-item {
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-darkorange);
    width: 100px;
    height: 35px;
}

.export {
    position: absolute;
    top: 6px;
    left: 31px;
    font-weight: 500;
}

.rectangle-parent {
    position: absolute;
    top: 551px;
    left: 1111px;
    width: 100px;
    height: 35px;
    font-size: var(--font-size-smi);
    color: var(--color-white);
}

.div,
.group-inner {
    position: absolute;
    top: 0;
}

.group-inner {
    left: 0;
    background-color: var(--color-gray-100);
    width: 270px;
    height: 66px;
}

.div {
    left: 97px;
    font-weight: 500;
    color: var(--color-white);
}

.final-output-parent,
.rectangle-group {
    position: absolute;
    top: 24px;
    left: 59px;
    width: 130px;
    height: 18px;
}

.rectangle-group {
    top: 534px;
    left: 0;
    width: 270px;
    height: 66px;
}

.home {
    position: absolute;
    top: 0;
    left: -3px;
    font-weight: 300;
}

.home-wrapper {
    position: absolute;
    top: 19px;
    left: 63px;
    width: 42px;
    height: 21px;
    cursor: pointer;
    font-size: var(--font-size-base);
    color: var(--color-darkorange);
}

.extract-size {
    position: absolute;
    top: 4px;
    left: 0;
    font-size: var(--font-size-sm);
    font-weight: 200;
}

.group-child1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-8xs);
    border: 0.5px solid #d5d6db;
    box-sizing: border-box;
    width: 110px;
    height: 30px;
}

.px {
    position: absolute;
    top: 7px;
    left: 17px;
    font-weight: 500;
    white-space: pre-wrap;
    display: inline-block;
    width: 79px;
    height: 19px;
}

.rectangle-container {
    position: absolute;
    top: 0;
    left: 102px;
    width: 110px;
    height: 30px;
}

.group-child2 {
    top: 0;
    left: 0;
    border-radius: var(--br-8xs);
    border: 0.5px solid #c4c4c4;
    box-sizing: border-box;
    width: 110px;
    height: 30px;
}

.group-child2,
.group-div,
.px1 {
    position: absolute;
}

.px1 {
    top: 6px;
    left: 18px;
    font-weight: 500;
    white-space: pre-wrap;
    display: inline-block;
    width: 79px;
    height: 19px;
}

.group-div {
    top: 2px;
    left: 248px;
    width: 110px;
    height: 30px;
}

.extract-size-parent {
    position: absolute;
    top: 342px;
    left: 825px;
    width: 358px;
    height: 32px;
    color: var(--color-white);
}

.preview {
    position: absolute;
    top: 8px;
    left: 24px;
    font-weight: 500;
}

.rectangle-parent1 {
    position: absolute;
    top: 399px;
    left: 1111px;
    width: 100px;
    height: 35px;
    font-size: var(--font-size-smi);
    color: var(--color-white);
}

.croptools-child2 {
    position: absolute;
    top: 492px;
    left: 271px;
    background-color: var(--color-gray-100);
    width: 1009px;
    height: 66px;
}

.group-container {
    position: absolute;
    top: 514px;
    left: 338px;
    width: 136px;
    height: 30px;
}

.rectangle-parent2 {
    position: absolute;
    top: 509px;
    left: 1111px;
    width: 100px;
    height: 35px;
    font-size: var(--font-size-smi);
    color: var(--color-white);
}

.final-output-wrapper {
    position: absolute;
    top: 24px;
    left: 59px;
    width: 75px;
    height: 18px;
}

.rectangle-parent3 {
    position: absolute;
    top: 492px;
    left: 0;
    width: 270px;
    height: 66px;
}

.croptools-child3 {
    position: absolute;
    top: 76px;
    left: 84px;
    background-color: rgba(51, 51, 51, 0.06);
    width: 550px;
    height: 330px;
}

.frame-div {
    position: absolute;
    top: 43px;
    left: 786px;
    background-color: var(--color-white);
    width: 425px;
    height: 244px;
    overflow: hidden;
}

.croptools {
    position: relative;
    background-color: var(--color-gray-200);
    width: 100%;
    height: 559px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--color-darkorange-100);
    font-family: var(--font-poppins);
}

body {
    margin: 0;
    line-height: normal;
}

 :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-lexend: Lexend;
    --font-volkhov: Volkhov;
    --font-google-sans: "Google Sans";
    /* font sizes */
    --font-size-lg: 18px;
    --font-size-base: 16px;
    --font-size-xl: 20px;
    --font-size-sm: 14px;
    --font-size-7xl: 26px;
    --font-size-xs: 12px;
    --font-size-16xl: 35px;
    --font-size-31xl: 50px;
    --font-size-mid: 17px;
    --font-size-5xl: 24px;
    --font-size-smi: 13px;
    /* Colors */
    --color-white: #fff;
    --color-darkorange: #fa7a04;
    --color-darkorange-100: rgba(250, 122, 4, 0.87);
    --color-black: #000;
    --color-dimgray: #5c6272;
    --mrt-app-headline: #1b1c57;
    --mrt-app-subheadline: #68799f;
    --st: #212832;
    --color-gray-100: #202024;
    --rd: #14183e;
    --color-gray-200: #151519;
    --color-gainsboro: #d9d9d9;
    /* Gaps */
    --gap-11xs: 2px;
    /* Paddings */
    --padding-5xl: 24px;
    /* Border radiuses */
    --br-3xs: 10px;
    --br-11xl: 30px;
    --br-xs: 12px;
    --br-8xs: 5px;
}