body {
    margin: 0;
    line-height: normal;
}

 :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-lexend: Lexend;
    --font-volkhov: Volkhov;
    --font-google-sans: "Google Sans";
    --font-inter: Inter;
    /* font sizes */
    --font-size-mini: 15px;
    --font-size-sm: 14px;
    --font-size-lg: 18px;
    --font-size-base: 16px;
    --font-size-xs: 12px;
    --font-size-5xl: 24px;
    --font-size-2xs: 11px;
    --font-size-27xl: 46px;
    --font-size-xl: 20px;
    --font-size-3xs: 10px;
    --font-size-mid: 17px;
    --font-size-lgi: 19px;
    --font-size-58xl: 77px;
    /* Colors */
    --white-primary: #fff;
    --color-darkorange-100: #fa7a04;
    --color-darkorange-200: rgba(250, 122, 4, 0.68);
    --black-primary: #000;
    --fuschia-80: #f178b6;
    --fuschia-60: #fcddec;
    --st: #212832;
    --rd: #14183e;
    --black-75: rgba(0, 0, 0, 0.5);
    --iris-80: #7879f1;
    --mrt-app-headline: #1b1c57;
    --mrt-app-subheadline: #68799f;
    --color-dimgray: #5c6272;
    --color-dimgray: #5c6272;
    --st: #212832;
    --color-gray-100: #202024;
    --color-gray-200: #151519;
    /* Paddings */
    --padding-5xl: 24px;
    /* Border radiuses */
    --br-81xl: 100px;
    --br-3xs: 10px;
    --br-31xl: 50px;
    --br-6xl: 25px;
    --br-11xl: 30px;
    --br-xs: 12px;
    --br-8xs: 5px;
    /* font sizes */
    --font-size-lg: 18px;
    --font-size-base: 16px;
    --font-size-xl: 20px;
    --font-size-sm: 14px;
    --font-size-7xl: 26px;
    --font-size-mid: 17px;
    /* Colors */
    --color-white: #fff;
    --color-darkorange: #fa7a04;
    --color-black: #000;
    --color-dimgray: #5c6272;
    --mrt-app-headline: #1b1c57;
    --mrt-app-subheadline: #68799f;
    --st: #212832;
    --rd: #14183e;
    /* Gaps */
    --gap-11xs: 2px;
}