.pexels-jessica-lewis-593324-2-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 702px;
    object-fit: cover;
}

.edit-video,
.resources {
    position: absolute;
    display: inline-block;
}

.edit-video {
    top: 39px;
    left: 53px;
    font-weight: 500;
    width: 144px;
}

.resources {
    top: 43px;
    left: 911px;
    font-size: var(--font-size-lg);
    color: var(--color-darkorange);
    width: 107px;
}

.sign-in {
    position: absolute;
    top: 2px;
    left: -1px;
    line-height: 200%;
    font-weight: 500;
    width: 66.3px;
    height: 22px;
}

.sign-in a {
    text-decoration: none;
    color: white;
}

.sign-in a:hover {
    text-decoration: none;
    color: white;
}

.sign-in-wrapper {
    position: absolute;
    top: 40px;
    right: 155px;
    border-radius: var(--br-3xs);
    background-color: var(--color-darkorange);
    width: 62px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-white);
}

.dropbtn {
    cursor: pointer;
    width: 46px;
    height: 46px;
    border-radius: 100%;
}

.dropdown1 {
    top: 30px;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    left: 1060px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #FB8B24;
    color: #fff;
    text-decoration: none;
}

.dropdown1:hover .dropdown-content {
    display: block;
}

.nav,
.nav-item {
    position: absolute;
}

.nav-item {
    top: 34px;
    left: 1181px;
    border-radius: 50%;
    background-color: var(--color-darkorange);
    width: 46px;
    height: 46px;
}

.nav {
    top: 0;
    left: 0;
    width: 1280px;
    height: 702px;
    color: var(--color-darkorange);
}

.all-in-one-easy-to-use-online,
.make-your-interior {
    position: absolute;
    display: inline-block;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.make-your-interior {
    top: 0;
    left: 0;
    font-weight: 600;
    width: 706px;
}

.all-in-one-easy-to-use-online {
    top: 214px;
    left: 110px;
    font-size: var(--font-size-lg);
    line-height: 200%;
    width: 485.9px;
}

.search-column-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 304.8px;
    height: 52px;
}

.search {
    position: absolute;
    top: 11.9px;
    left: 44.5px;
    line-height: 200%;
    font-weight: 500;
    display: inline-block;
    width: 77px;
    height: 24.3px;
}

.button-search-icon {
    position: absolute;
    top: 9.5px;
    left: 265px;
    width: 32.2px;
    height: 32.9px;
    object-fit: cover;
}

.search-column {
    position: absolute;
    top: 298px;
    left: 201px;
    width: 304.8px;
    height: 52px;
    font-size: var(--font-size-sm);
    color: var(--color-darkorange);
}

.slide {
    position: absolute;
    top: 211px;
    left: 287px;
    width: 706px;
    height: 350px;
    text-align: center;
    font-size: 48px;
}

.group-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white-primary);
    width: 254px;
    height: 280px;
}

.completely-online,
.there-is-no {
    position: absolute;
    top: 91px;
    left: 21.2px;
    line-height: 200%;
    display: inline-block;
    width: 212.5px;
}

.completely-online {
    top: 45px;
    font-size: var(--font-size-lg);
    font-weight: 500;
    width: 210.8px;
}

.group-item,
.rectangle-parent {
    position: absolute;
    top: 3px;
    left: 279.4px;
    width: 254px;
    height: 280px;
}

.group-item {
    top: 0;
    left: 0;
    background-color: var(--white-primary);
    width: 252.3px;
}

.free,
.kapwing-is-completely {
    position: absolute;
    top: 91px;
    left: 20.3px;
    line-height: 200%;
    display: inline-block;
    width: 232px;
}

.free {
    top: 45px;
    font-size: var(--font-size-lg);
    font-weight: 500;
    width: 105px;
}

.rectangle-group {
    position: absolute;
    top: 0;
    left: 560.4px;
    width: 252.3px;
    height: 280px;
}

.kapwing-works-hard,
.powerful {
    position: absolute;
    top: 91px;
    left: 20.3px;
    line-height: 200%;
    display: inline-block;
    width: 224.3px;
}

.powerful {
    top: 45px;
    font-size: var(--font-size-lg);
    font-weight: 500;
    width: 116.8px;
}

.rectangle-container {
    position: absolute;
    top: 0;
    left: 838.1px;
    width: 252.3px;
    height: 280px;
}

.why {
    margin: 0;
}

.why-choosing-us-container {
    position: absolute;
    top: 54px;
    left: 0;
    font-size: 35px;
    line-height: 200%;
    display: inline-block;
    width: 213.3px;
}

.reason {
    position: absolute;
    top: 736px;
    left: 121px;
    width: 1090.4px;
    height: 283px;
    font-size: var(--font-size-sm);
}

.all-tools {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 200%;
    display: inline-block;
    width: 85px;
}

.all-tools a {
    color: inherit;
    text-decoration: none;
}

.all-tools a:hover {
    text-decoration: none;
}

.next-child {
    position: absolute;
    top: 12px;
    left: 67px;
    max-height: 100%;
    width: 9px;
    object-fit: cover;
}

.next {
    position: absolute;
    top: 441px;
    left: 449px;
    width: 85px;
    height: 30px;
    font-size: 15px;
    color: var(--color-darkorange);
}

.tool4-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-6xl);
    background-color: var(--white-primary);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
    width: 237px;
    height: 258px;
}

.merge {
    position: absolute;
    top: 184px;
    left: 88.9px;
    font-weight: 600;
    display: inline-block;
    width: 97px;
    height: 23.8px;
}

.merged-1-icon {
    position: absolute;
    top: 82.8px;
    left: 78.7px;
    width: 67.7px;
    height: 70.4px;
    object-fit: cover;
}

.cut,
.tool4 {
    position: absolute;
    top: 133px;
    left: 762.1px;
    width: 237px;
    height: 258px;
}

.cut {
    top: 184px;
    left: 95.9px;
    font-weight: 600;
    display: inline-block;
    width: 56px;
    height: 23.8px;
}

.cutting-tool-1-icon {
    position: absolute;
    top: 82.8px;
    left: 89.7px;
    width: 67.7px;
    height: 70.4px;
    object-fit: cover;
}

.loop,
.tool3 {
    position: absolute;
    top: 133px;
    left: 508.1px;
    width: 237px;
    height: 258px;
}

.loop {
    top: 184px;
    left: 94px;
    font-weight: 500;
    display: inline-block;
    width: 60px;
    height: 24px;
}

.tool2 {
    top: 133px;
    left: 254px;
    width: 237px;
    height: 258px;
    font-size: var(--font-size-lgi);
    font-family: var(--font-inter);
}

.crop,
.tool1,
.tool2 {
    position: absolute;
}

.crop {
    top: 181.4px;
    left: 90px;
    font-weight: 500;
    display: inline-block;
    width: 59px;
    height: 26.4px;
}

.tool1 {
    top: 133px;
    left: 0;
    width: 237px;
    height: 258px;
    font-size: var(--font-size-lgi);
    font-family: var(--font-inter);
}

.crop-1-icon,
.loop-1-icon {
    position: absolute;
    top: 76px;
    left: 84px;
    width: 74px;
    height: 74px;
    object-fit: cover;
}

.loop-1-icon {
    top: 76px;
    left: 90px;
    width: 70px;
    height: 82.7px;
}

.online-video-tools {
    position: absolute;
    top: 0;
    left: 273px;
    font-size: var(--font-size-21xl);
    font-weight: 600;
    display: inline-block;
    width: 449.5px;
}

.tool {
    position: absolute;
    top: 1075px;
    left: 140px;
    width: 999.1px;
    height: 471px;
    font-size: var(--font-size-lg);
}

.your-all-in-one-online {
    position: absolute;
    top: 125px;
    left: 534.2px;
    font-size: var(--font-size-21xl);
    font-weight: 600;
    text-align: center;
    display: inline-block;
    width: 457.1px;
    height: 148px;
}

.make-your-own {
    position: absolute;
    top: 342px;
    left: 535px;
    line-height: 200%;
    color: var(--black-75);
    display: inline-block;
    width: 474.1px;
    height: 334px;
}

.unsplashtqpypka92k8-icon {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 75px;
    width: 406.3px;
    height: 800px;
    object-fit: cover;
}

.started-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-darkorange);
    width: 179px;
    height: 75px;
}

.get-started {
    top: 23px;
    left: 34px;
}

.about,
.get-started,
.started {
    position: absolute;
}

.started {
    top: 663px;
    left: 535px;
    box-shadow: 4px 8px 25px rgba(62, 134, 245, 0.25);
    width: 179px;
    height: 75px;
    color: var(--white-primary);
}

.about {
    top: 1638px;
    left: 174.7px;
    width: 1009.1px;
    height: 800px;
    font-size: var(--font-size-xl);
}

.features,
.footer-child {
    position: absolute;
    top: 0;
    left: 0;
}

.footer-child {
    background-color: var(--white-primary);
    border: 1px solid var(--color-darkorange);
    box-sizing: border-box;
    width: 1280px;
    height: 273px;
}

.features {
    font-size: var(--font-size-xl);
    font-weight: 500;
    display: inline-block;
    width: 121px;
    height: 53.2px;
}

.affiliate-program,
.our-features,
.press-kit,
.pricing {
    position: absolute;
    top: 56.2px;
    left: 0;
    display: inline-block;
    width: 132.6px;
    height: 39.9px;
}

.affiliate-program,
.press-kit,
.pricing {
    top: 96.8px;
    width: 70.3px;
}

.affiliate-program,
.press-kit {
    top: 137.5px;
    width: 174.1px;
}

.press-kit {
    top: 178.1px;
    width: 85.3px;
}

.account,
.features-parent,
.help {
    position: absolute;
    top: 24.4px;
    left: 176.9px;
    width: 174.1px;
    height: 218px;
}

.account,
.help {
    top: 56.2px;
    left: 0;
    display: inline-block;
    width: 94.8px;
    height: 39.9px;
}

.help {
    top: 96.8px;
    width: 51.1px;
}

.contact-us,
.support-parent {
    position: absolute;
    width: 124.7px;
}

.contact-us {
    top: 137.5px;
    left: 0;
    display: inline-block;
    height: 39.9px;
}

.support-parent {
    top: 24.4px;
    left: 456.3px;
    height: 177.4px;
}

.legal,
.privacy-policy,
.terms-of-use {
    position: absolute;
    left: 0;
    display: inline-block;
}

.legal {
    top: 0;
    font-size: var(--font-size-xl);
    font-weight: 500;
    width: 70.3px;
    height: 53.2px;
}

.privacy-policy,
.terms-of-use {
    top: 56.2px;
    width: 131.9px;
    height: 39.9px;
}

.terms-of-use {
    top: 93.9px;
    white-space: pre-wrap;
    width: 130.8px;
}

.legal-parent,
.social-media {
    position: absolute;
    top: 24.4px;
    left: 744.1px;
    width: 131.9px;
    height: 133.8px;
}

.social-media {
    top: 0;
    left: 0;
    font-size: var(--font-size-xl);
    font-weight: 500;
    display: inline-block;
    width: 176.8px;
    height: 53.2px;
}

.github,
.instagram,
.product-hunt,
.twitter {
    position: absolute;
    top: 56.2px;
    left: 0;
    display: inline-block;
    width: 68.4px;
    height: 39.9px;
}

.github,
.instagram,
.product-hunt {
    top: 93.9px;
    width: 133.4px;
}

.github,
.instagram {
    top: 131.6px;
    width: 107.2px;
}

.github {
    top: 169.3px;
    width: 69.6px;
}

.social-media-parent {
    position: absolute;
    top: 24.4px;
    left: 975.2px;
    width: 176.8px;
    height: 209.2px;
}

.copyright-2023-editvideo {
    position: absolute;
    top: 233.3px;
    left: 508px;
    font-size: var(--font-size-lg);
    display: inline-block;
    width: 265px;
    height: 39.7px;
}

.footer {
    position: absolute;
    top: 2533px;
    left: 0;
    width: 1280px;
    height: 273px;
    font-size: var(--font-size-base);
}

.index1 {
    position: relative;
    background-color: var(--white-primary);
    width: 100%;
    height: 2806px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: var(--black-primary);
    font-family: var(--font-poppins);
}

body {
    margin: 0;
    line-height: normal;
}

 :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;
    /* font sizes */
    --font-size-lg: 18px;
    --font-size-base: 16px;
    --font-size-xl: 20px;
    --font-size-21xl: 40px;
    --font-size-lgi: 19px;
    --font-size-sm: 14px;
    /* Colors */
    --white-primary: #fff;
    --black-primary: #000;
    --color-darkorange: #fa7a04;
    --black-75: rgba(0, 0, 0, 0.5);
    /* Border radiuses */
    --br-3xs: 10px;
    --br-6xl: 25px;
}