.margetools-child {
    position: absolute;
    top: 473px;
    left: 0;
    background-color: var(--color-gray-200);
    width: 1280px;
    height: 66px;
}

.margetools-inner,
.margetools-item {
    position: absolute;
    top: 325px;
    left: 599px;
    width: 90px;
    height: 27px;
    object-fit: cover;
}

.margetools-inner {
    top: 37px;
    left: 396px;
    width: 488px;
    height: 280px;
}

.margetools-child1,
.rectangle-icon {
    position: absolute;
    top: 493px;
    left: 271px;
    width: 1009px;
    height: 66px;
    object-fit: cover;
}

.margetools-child1 {
    top: 366px;
    left: 0;
    width: 1280px;
    height: 127px;
}

.format {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
}

.format-wrapper,
.group-child,
.group-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 47px;
    height: 18px;
}

.group-child,
.group-wrapper {
    top: 6px;
}

.group-child {
    top: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-gray-100);
    border: 0.5px solid var(--color-dimgray);
    box-sizing: border-box;
    width: 71px;
    height: 30px;
}

.group-parent,
.rectangle-wrapper {
    position: absolute;
    top: 0;
    left: 65px;
    width: 71px;
    height: 30px;
}

.group-parent {
    top: 511px;
    left: 338px;
    width: 136px;
    color: var(--color-darkorange-100);
}

.group-item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-darkorange);
    width: 100px;
    height: 35px;
}

.export {
    position: absolute;
    top: 6px;
    left: 31px;
    font-weight: 500;
}

.rectangle-parent {
    position: absolute;
    top: 506px;
    left: 1111px;
    width: 100px;
    height: 35px;
    font-size: var(--font-size-smi);
}

.div,
.group-inner {
    position: absolute;
    top: 0;
}

.group-inner {
    left: 0;
    background-color: var(--color-gray-100);
    width: 270px;
    height: 66px;
}

.div {
    left: 98px;
    font-weight: 500;
    color: var(--color-white);
}

.final-output-parent,
.rectangle-group {
    position: absolute;
    top: 24px;
    left: 59px;
    width: 129px;
    height: 18px;
}

.rectangle-group {
    top: 493px;
    left: 0;
    width: 270px;
    height: 66px;
    color: var(--color-darkorange-100);
}

.home {
    position: absolute;
    top: 0;
    left: -3px;
    font-weight: 300;
}

.home-wrapper {
    position: absolute;
    top: 19px;
    left: 63px;
    width: 42px;
    height: 21px;
    cursor: pointer;
    font-size: var(--font-size-base);
    color: var(--color-darkorange);
}

.margetools-child2,
.rectangle-div {
    position: absolute;
    top: 388px;
    left: 289px;
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-darkorange);
    box-sizing: border-box;
    width: 978px;
    height: 70px;
}

.margetools-child2 {
    left: 42px;
    width: 228px;
}

.add-more-videos,
.add-more-videos1 {
    position: absolute;
    top: 422px;
    left: 725px;
    font-weight: 200;
}

.add-more-videos1 {
    top: 421px;
    left: 122px;
}

.p {
    margin: 0;
}

.div1 {
    position: absolute;
    top: 333px;
    left: 738px;
    font-weight: 500;
    display: inline-block;
    width: 79px;
    height: 19px;
}

.margetools {
    position: relative;
    background-color: var(--color-gray-200);
    width: 100%;
    height: 559px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--color-white);
    font-family: var(--font-poppins);
}

body {
    margin: 0;
    line-height: normal;
}

 :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-lexend: Lexend;
    --font-volkhov: Volkhov;
    --font-google-sans: "Google Sans";
    /* font sizes */
    --font-size-lg: 18px;
    --font-size-base: 16px;
    --font-size-xl: 20px;
    --font-size-sm: 14px;
    --font-size-7xl: 26px;
    --font-size-xs: 12px;
    --font-size-16xl: 35px;
    --font-size-31xl: 50px;
    --font-size-mid: 17px;
    --font-size-5xl: 24px;
    --font-size-smi: 13px;
    /* Colors */
    --color-white: #fff;
    --color-darkorange: #fa7a04;
    --color-darkorange-100: rgba(250, 122, 4, 0.87);
    --color-black: #000;
    --color-dimgray: #5c6272;
    --mrt-app-headline: #1b1c57;
    --mrt-app-subheadline: #68799f;
    --st: #212832;
    --color-gray-100: #202024;
    --rd: #14183e;
    --color-gray-200: #151519;
    --color-gainsboro: #d9d9d9;
    /* Gaps */
    --gap-11xs: 2px;
    /* Paddings */
    --padding-5xl: 24px;
    /* Border radiuses */
    --br-3xs: 10px;
    --br-11xl: 30px;
    --br-xs: 12px;
    --br-8xs: 5px;
}